

.kafa{
    opacity: .6;
    z-index: -1;
    height: 100vh;
    background-image: url('https://resimyukle.imageupload.workers.dev/3ZSdn4IH_deneme.jpg') ;
    background-size: cover;
    background-attachment:fixed ;
}

.navbar Button{
    margin-left: 60px;
}

.header {
    display: flex;
    align-items: center;
    width: 95%;
    margin-left: 2.6%;
    z-index: 2;
    padding: 5px;
    position: fixed;
    offset-end: 100vh;
    transition: 1s;
}


.header a {
    margin-right: 35px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.68);
    z-index: 2;
    text-decoration: none;
}

.header a:hover {
   color: hotpink;
}

.header Button {
    margin-left: auto;
    color: deeppink;
    font-weight: 700;
    border:2px solid deeppink;
}

.header Button:hover {
    color: deeppink;
    font-weight: 700;
    border:2px solid deeppink;
}

.header Button:focus {
    color: deeppink;
    font-weight: 700;
    border:2px solid deeppink;
}

.content {
    height: 100%;
    z-index: 1;
}

.content h1 {
    font-weight: 700;
    font-size: 6vw;
    text-align: center;
    margin-top: -28%;
    font-style: oblique;
    z-index: 1 !important;
    opacity: 1.4 !important;
    color: #000000;
}

.content Button {
    color: white;
    font-weight: bold;
    font-size: 21px;
    margin-left: 32.8%;
    border-radius: 40px;
    width: 33%;
    height: 70px;
    background: rgb(205,113,7);
    background: linear-gradient(49deg, rgba(205, 113, 7, 0.63) 0%, rgba(255, 20, 63, 0.82) 100%);
    z-index: 1;
}

.content Button:hover {
    background: rgb(205,113,7);
    background: linear-gradient(49deg, rgba(205, 113, 7, 0.63) 0%, rgba(255, 20, 63, 0.82) 100%);
    color: white;
    border-color: white;
}

.content Button:focus {
    background: rgb(205,113,7);
    background: linear-gradient(49deg, rgba(205, 113, 7, 0.63) 0%, rgba(255, 20, 63, 0.82) 100%);
    color: white;
    border-color: white;
}


.carousel {
    cursor: grab;
    overflow: hidden;
    margin: 18% 7% 0 7% ;
}

 .item {
    min-height: 17.5rem;
     width: 33%;
     margin: 10px;
     min-width: 31.85%;
}

 .item p{
     font-size: 15px;
 }

 .innerCarousel {
     display: flex;
 }

 .deneme {
     border: 1px solid rgba(1,1,1,0.1);
     box-shadow: 2px 2px rgba(162, 34, 143, 0.15);
     width: 33%;
     border-radius: 10px;
     max-height: 330px;
     margin: 10px;
     min-width: 31.85%;
 }

 .deneme h3 {
     padding: 20px 0 20px 18px;
     font-size: 20px;
 }
.deneme p {
    padding: 30px 28px 50px 28px;
    font-size: 15px;
}

.deneme h1 {
    font-size: 120px;
    opacity: 0.15;
    float: right;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: -90px;
    padding: 0;
    height: 10px;
}

.title{
    border-bottom: 1px solid rgba(1,1,1,0.1);
    display: flex;
    width: 70%;
    margin-left: 20px;
}


.footer  {
    display: flex;
    margin-left: 5.8em;
    padding: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(1,1,1,0.1);
    width: 90%;
}

.cerez{
    margin-left: 5.8em;
    padding: 0 0 0 50px;
    display: flex;
    align-items: center;
}

.cerez a img {
    width: 200px;
    margin-left: 30px;
}

.footer div {
    margin-right: 12em;
}

.apple{
    border-radius: 6px;
    height: 49px;
}

.metinCrz{
    margin-left: 5.8em;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(1,1,1,0.1);
    width: 90%;
}

.sonCrz{
    width: 90%;
    margin-left: 5.8em;
    padding-left: 50px;
    padding-top: 35px;
    display: flex;
    padding-bottom: 45px;
}

.sonCrz a{
    color: black;
    margin-right: 10px;
}

.sonCrz a:hover{
    color: hotpink;
    margin-right: 10px;
}
.sonCrz p {
    margin-right: 10px;
}

.footer a{
    color: black;
    display: block;
    font-size: 16px;
    padding-bottom: 12px;
}

.footer a:hover{
    color: hotpink;
}

.social span{
    margin-right: 10px;
    font-size: 28px;
}

.social span:hover{
    color: hotpink;
    cursor: pointer;
}



